*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url('../images/aboout-bg.jpg');
    background-attachment: fixed;
}

#navigationBar{
    height: 70px;
}


.bg-black {
    background-color: black;
    opacity: 0.9;
    padding: 50px 50px;
}
.bg-white {
    background-color: white;
}

.youtube-vdo {
    margin-top: 85px;
}

iframe {
    /* background-color: black; */
    border:2px solid white
}

#about1{
    padding-top: 7%;
    padding-left: 2%;
    color: white;
}
#about1>p {
    padding: 25px;
    font-size: 18px;
}

#about2{
    padding-top: 7%;
    padding-right: 2%;
}
.card {
    margin-left: 15%;
    box-shadow: 5px 5px 5px gray;
    transition: 0.8s;
}
.card:hover {
    margin-left: 15%;
    box-shadow: 15px 15px 15px gray;
    transition: 0.2s;
}
.card:active {
    margin-left: 15%;
    box-shadow: 2px 2px 2px gray;
}


.sec-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 60px;
    background-color: black;
}

.sec-1 h2{
    font-size: 18px;
    color: lightgray;
    text-transform: uppercase;
}

.sec-1 ul{
    list-style: none;

}

.sec-1 ul li {
    padding:5px;

}

.sec-1 ul li a{
    text-decoration: none;
    color: gray;
}

.sec-1 ul li a:hover{
    color: orange;
}

span{
    color: grey;
}

hr{
    opacity: .2;
}

.sec-2{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sec-2 ul{
    list-style: none;
    margin:20px;
} 

.sec-2 ul li{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 20px;

}

.sec-2 ul li i{
    color: white;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
}

.sec-2 ul li:nth-child(1):hover{
    background-color: #3b5999;
}

.sec-2 ul li:nth-child(2):hover{
    background-color: #55acee;
}

.sec-2 ul li:nth-child(3):hover{
    background-color: #dd4b39;
}

.sec-2 ul li:nth-child(4):hover{
    background-color: #0077B5;
}

.sec-2 ul li:nth-child(5):hover{
    background-color: #ea4c89;
}
.p-3 {
    margin-bottom: 0;
}
