* {
    padding: 0;
    margin: 0;
}

.navigation-bar {
    background: linear-gradient(to right, #17A2B8, white, #17A2B8);
    height: 10vh;
}

.navigation-bar>h1 {
    text-transform: uppercase;
    color: #17A2B8;
    padding: 25px;
}

.btn {
    margin-top: 18px;
}


.dashboard {
    height: 100vh;
    background-color: #17A2B8;
    color: white;
}

.admin-heading>h1 {
    margin-top: 15px;
    text-align: center;
}

.dashboard ul {
    list-style: none;
}

.dashboard ul li {
    border-bottom: 2px solid white;
}

.dashboard ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    transition: 0.4s;
}

.dashboard ul li a span {
    margin-left: 30px;
    font-size: 30px;
}

.dashboard ul li a:hover {
    border-left: 10px solid cyan;
}

.dashboard ul li i {
    font-size: 30px;
    color: white;
}

h1 {
    text-align: center;
}

.card {
    margin: 30px auto 30px 30px;
    box-shadow: 5px 5px 5px grey;
}

.card:hover {
    margin: 30px auto 30px 30px;
    box-shadow: 15px 15px 15px grey;
    transition: 0.8s;
}

table .card-header {
    text-align: center;
}

table {
    margin: 5% auto 5% auto;
}

.table-head {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-body {
    text-align: justify;
}

td,
th {
    padding: 10px;
    border: 2px solid #17A2B8;
}

th {
    background-color: #17A2B8;
    color: white;
}


tr:hover {
    background-color: #B4E1E8;

}

footer {
    background-color: #17A2B8;
    font-family: 'Italianno', cursive;
    color: white;
    margin-bottom: 0;
    padding: 20px;
}

footer>h4 {
    text-align: center;
}