/* 
    it is added to house and hospital
*/
*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgb(110, 110, 77),rgb(58, 42, 42));
    
    height: 100%;
    
}

#navigationBar{
    height: 70px;
}

#navigationBox{
    
    padding-top: 4%;
    color: black;
    background-color: #e0ebeb;
    box-shadow: 6px 5px 6px black;
    height: 105vh;
}

#head{
    text-align: center;
 
}


#navigationBox .links ul{
    list-style: none;
    text-align: center;
}

#navigationBox .links ul li a{
    text-decoration: none;
    /* padding: 10%; */
    color: black;
}

#navigationBox  .links ul li a:hover{
    
    color: rgb(87, 75, 54);
}


.background-img{
    margin-top: 75px;
    /* background: url("../images/img1-carousel.jpg");
    background-repeat: no-repeat; */
    height: 105vh;
}

.menu-bar {
    height: 95vh;
}

.service-tag>h1 {
    text-align: center;
    color: black;
}


.form-sec{
    margin-left: 2%;
    color: white;
    height: 95vh;
    border-radius: 2%;
    background-color: black;
    opacity: 0.9;
}

.img-sec{
    margin-left: 3%;
    margin-top: 8%;
    color: white;
    height: 93vh;
    border-radius: 2%;
    /* background-color: black;
    opacity: 0.9; */
}

#image1{
    padding-top: 10%;
    /* margin-top: 10%; */
}

#formBox{
    /* background-color: #0bc2b3; */
    padding: 5%;
    border-radius: 3%;
    box-shadow: 6px 5px 6px black;
}

#image{
    /* /* background-color: #0bc2b3; */
    margin-top: 10%;
    padding-top: 10%;
}

.sec-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 60px;
    background-color: black;
}

.sec-1 h2{
    font-size: 18px;
    color: lightgray;
    text-transform: uppercase;
}

.sec-1 ul{
    list-style: none;

}

.sec-1 ul li {
    padding:5px;

}

.sec-1 ul li a{
    text-decoration: none;
    color: gray;
}

.sec-1 ul li a:hover{
    color: orange;
}

span{
    color: grey;
}

hr{
    opacity: .2;
}

.sec-2{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sec-2 ul{
    list-style: none;
    margin:20px;
} 

.sec-2 ul li{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 20px;

}

.sec-2 ul li i{
    color: white;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
}

.sec-2 ul li:nth-child(1):hover{
    background-color: #3b5999;
}

.sec-2 ul li:nth-child(2):hover{
    background-color: #55acee;
}

.sec-2 ul li:nth-child(3):hover{
    background-color: #dd4b39;
}

.sec-2 ul li:nth-child(4):hover{
    background-color: #0077B5;
}

.sec-2 ul li:nth-child(5):hover{
    background-color: #ea4c89;
}
