h1 {
    text-transform: uppercase;
    text-align: center;
}
.dashboard {
    border: 2px solid black;
    width: 20%; 
}
.panel {
    border: 2px solid red;
    width: 70%;
    margin-left: 8%;
}
.admin-work{
    display: flex;
}