body{
    background-image: url("images/sample.jpg");
}
.navbar {
    height: 70px;
}

#own-banner{
    margin-top: 70px;
    color: white;
    background-color: black;
    background-size: 100% 100vh;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.left {
    width: 40%;
    float: left;
    margin: auto 5% auto 5%;
    text-align: center;
}
.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 25px;
}
.left>p{
    text-align:center
}

.right {
    width: 40%;
    float: right;
    margin: auto 5% auto 5%;
}
.carousel-img {
    border-radius: 10px;
}

h4{
    margin-top: 80px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.circle{
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 105px ;
    border-radius: 50%;
}



#left-part{
    width: 48%;
    height: 70vh;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    background-color: gray;
    float: left;
    display: flex;
}

.own-box
{
    width: 20%;
    float: left;
    margin: 30px 25px;
    background-color: rgb(255, 251, 251);
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.image
{
    width: 80%; 
    height: 180px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 10px;
}

h3
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p
{
    text-align: justify;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.own-box a
{
    text-decoration: none;
    display: block;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
}

.own-box a:hover
{
    text-decoration: none;
    display: block;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.own-services::after{
    content: '';
    display: block;
    clear: both;
}
.own-services {
    margin: 30px;
}
.own-services>h4 {
    font-size: 50px;
}

hr {
    width: 40%;
    margin: auto;
    height: 2px;
    background-color: black;
    margin-bottom: 30px;
}
.service-card {
    display: flex;
}

#testimonials {
    text-align: center;
    background-color: black;
    z-index: 0.5;
    color: white;
  }
.testimonial-text {
    display: inline-block;
    margin: auto 15%;
}  
.testimonial-image {
    width: 10%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}
.work-section {
    margin: 70px auto 70px auto;
}
.h1-black {
    color: black;
}
.work-sec-list {
    text-align: center;
}

.work-section ul,p {
    /* list-style: url("images/sample.jpg"); */
    list-style-type: square;
}
.bold {
    font-weight: 700;
    color: black;
}
.work-img {
    display: inline-block;
    border: 2px solid red;
    width: 500px;
    z-index: 1;
}

h1{
    font-size: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.foot-sec-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 60px;
    background-color: black;
}

.foot-sec-1 h2{
    font-size: 18px;
    color: lightgray;
    text-transform: uppercase;
}

.foot-sec-1 ul{   /* All footer items*/
    list-style: none;
    padding: 0;
}

.foot-sec-1 ul li {
    padding:5px;

}

.foot-sec-1 ul li a{
    text-decoration: none;
    color: gray;
}

.foot-sec-1 ul li a:hover{
    color: orange;
}
span{
    color: grey;
}

hr{
    opacity: .2;
}
.foot-sec-2{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.foot-sec-2 ul{
    list-style: none;
    margin:20px;
} 

.foot-sec-2 ul li{         /* Social Icons*/
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 20px;

}

.foot-sec-2 ul li i{
    color: white;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
}

.foot-sec-2 ul li:nth-child(1):hover{
    background-color: #3b5999;
}

.foot-sec-2 ul li:nth-child(2):hover{
    background-color: #55acee;
}

.foot-sec-2 ul li:nth-child(3):hover{
    background-color: #dd4b39;
}

.foot-sec-2 ul li:nth-child(4):hover{
    background-color: #0077B5;
}

.foot-sec-2 ul li:nth-child(5):hover{
    background-color: #ea4c89;
}
.p-3 {     /* Copywrite Section */
    margin-bottom: 0;
}
