*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

#navigationBar{
    height: 70px;
}

#section1{
    background-color: gray;
    
}

#navigationBox{
    background-color: #0bc2b3;
    padding-top: 4%;
    color: black;
    border-radius: 8%;
    box-shadow: 6px 5px 6px black;
    height: 110vh;
}

#head{
    text-align: center;
}

.links ul{
    list-style: none;
    text-align: center;
}

.links ul li a{
    text-decoration: none;
    color: black;
}

.links ul li a:hover{
    color: rgb(87, 75, 54);
}

#formBox{
    background-color: #0bc2b3;
    padding: 5%;
    border-radius: 3%;
    box-shadow: 6px 5px 6px black;
}

#image{
    /* /* background-color: #0bc2b3; */
    margin-top: 10%;
    padding-top: 10%;
}

.sec-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 60px;
    background-color: black;
}

.sec-1 h2{
    font-size: 18px;
    color: lightgray;
    text-transform: uppercase;
}

.sec-1 ul{
    list-style: none;

}

.sec-1 ul li {
    padding:5px;

}

.sec-1 ul li a{
    text-decoration: none;
    color: gray;
}

.sec-1 ul li a:hover{
    color: orange;
}

span{
    color: grey;
}

hr{
    opacity: .2;
}

.sec-2{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sec-2 ul{
    list-style: none;
    margin:20px;
} 

.sec-2 ul li{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 20px;

}

.sec-2 ul li i{
    color: white;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
}

.sec-2 ul li:nth-child(1):hover{
    background-color: #3b5999;
}

.sec-2 ul li:nth-child(2):hover{
    background-color: #55acee;
}

.sec-2 ul li:nth-child(3):hover{
    background-color: #dd4b39;
}

.sec-2 ul li:nth-child(4):hover{
    background-color: #0077B5;
}

.sec-2 ul li:nth-child(5):hover{
    background-color: #ea4c89;
}
